<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cryptos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
    <script src="https://kit.fontawesome.com/e018de74d3.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">

    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@100&family=Roboto:wght@300&family=Sacramento&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/38fc30680a.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>


    <!-- ======datatable==== -->

    <link rel="stylesheet" href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>


    <link rel="stylesheet" href="/CSS/crypto.css">
    <link rel="stylesheet" href="/CSS/all_connect.css">

    <script>
         $(document).ready(function () {
            $('#mytable1').DataTable();
        });
    </script>
      <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
</head>

<body onload="getdata()">
    <div class="main-win">
        <div class="navbar">
            <h2 class="text-heading">Welcome to xLedger<br>
                <span>
                    <h6 id="username">{{username}}</h6>
                </span>
            </h2>
            <h3 id="useremail">user: <span id="pagemail">{{email}}</span></h3>

        </div>
        <div class="contain">
            <div class="left-column sidebar">
                <ul>
                    <li><a href="/" class="first-block"><img src="/images/home-button.png" alt="" height="35px"
                                width="35px">Home</a></li>
                    <li><a href="/add_entry"><img src="/images/add.png" alt="" height="35px" width="35px">Add Entry</a>
                    </li>
                    <li><a href="/spending"><img src="/images/earnings.png" alt="" height="35px" width="35px">My
                            Expenses</a>
                    </li>
                    <li><a href="/group"><img src="/images/multiple-users-silhouette.png" alt="" height="35px"
                                width="35px">Groups</a></li>
                    <li><a href="/crypto" id="hovering"><img src="/images/bit-coin.png" alt="" height="35px"
                                width="35px">Cryptos</a></li>
                    <li><a href="/stocks"><img src="/images/line-chart.png" alt="" height="35px" width="35px">Stocks</a>
                    </li>
                    <li><a href="/exchange"><img src="/images/exchange.png" alt="" height="35px"
                                width="35px">Currency</a></li>
                    <li><a href="/jwellery"><img src="/images/diamond.png" alt="" height="35px" width="35px">Jewellery</a></li>
                    <li><a href="/reminder"><img src="/images/bell.png" alt="" height="35px" width="35px">Reminder</a></li>

                    <li><a href="/report"><img src="/images/report.png" alt="" height="35px" width="35px">Report</a>
                    </li>
                    <li><a href="/contact"><img src="/images/support.png" alt="" height="35px" width="35px"></i>Contact
                            Us</a>
                    </li>
                    <li><a href="/logout"><img src="/images/power.png" alt="" height="35px" width="35px"></i>Logout</a></li>
                    <!-- <li><a href="#"><i class="far fa-envelope"></i>Contact</a></li> -->
                </ul>
            </div>
            <div class="right-column container">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-color1 my-3 btn-lg" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    Add Entry
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Entry</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form class="row g-3" id="form" onsubmit="return false;">

                                    <div class="col-md-6">
                                        <label for="date" class="form-label">Date</label>
                                        <input type="date" class="form-control" id="date" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Category" class="form-label">Category</label>
                                        <select id="Category" class="form-select" itemid="category" required>
                                            <option selected>Cryptos</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="type" class="form-label">Name</label>
                                        <select id="cryptoname" class="form-select" required>
                                            <option selected>BitCoin</option>
                                            <option>Etherum</option>
                                            <option>BNB</option>
                                            <option>Binance USD</option>
                                            <option>Ripple</option>
                                            <option>Cardano</option>
                                            <option>SOLANA</option>
                                            <option>DogeCoin</option>
                                            <option>Polygon</option>
                                            <option>Uniswap</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="unit" class="form-label">Quantity</label>
                                        <input type="text" class="form-control" id="quantity" required>
                                    </div>

                                    <div class="col-md-6">
                                        <label for="amount" class="form-label">Amount</label>
                                        <input type="text" class="form-control" id="amount" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="remarks" class="form-label">Remarks</label>
                                        <input type="text" class="form-control" id="remarks" required>
                                    </div>

                                    <div class="col-md-6">
                                        <label for="mode" class="form-label">Mode</label>
                                        <select id="paymode" class="form-select" required>
                                            <option selected>Online</option>
                                            <option>Cash</option>
                                        </select>
                                    </div>
                            <div class="modal-footer">
                              
                                <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                        </form>
                            <div class="alert alert-success alert-dismissible fade show" role="alert" id="success" style="display: none;">
                                <strong id="successmsg">Holy guacamole!</strong>
                                <a href="/crypto">
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></a>
                            </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="category">
                    <div>
                        <h2>Categories</h2>
                    </div>
                    <div class="btn-padding">
                        <button type="button" class="btn btn-color mx-2" id="filter1"
                            onclick="filter1()">BitCoin</button>
                        <button type="button" class="btn btn-color  mx-2" id="filter2"
                            onclick="filter2()">Etherum</button>
                        <button type="button" class="btn btn-color mx-2" id="filter3" onclick="filter3()">BNB</button>
                        <button type="button" class="btn btn-color mx-2" id="filter4" onclick="filter4()">Binance USD</button>
                        <button type="button" class="btn btn-color mx-2" id="filter5"
                            onclick="filter5()">Ripple</button>
                        <button type="button" class="btn btn-color mx-2" id="filter6"
                            onclick="filter6()">Cardano</button>
                        <button type="button" class="btn btn-color mx-2" id="filter7"
                            onclick="filter7()">SOLANA</button>
                        <button type="button" class="btn btn-color mx-2" id="filter8"
                            onclick="filter8()">DogeCoin</button>
                        <button type="button" class="btn btn-color mx-2" id="filter9"
                            onclick="filter9()">Polygon</button>
                        <button type="button" class="btn btn-color mx-2" id="filter10"
                            onclick="filter10()">Uniswap</button>
                        <a href="/crypto"><button type="button" class="btn btn-color mx-2" id="reset"> Remove
                                Filter</button></a>

                    </div>

                </div>
                <div>
                    <h3>Transaction History</h3>
                </div>
                <table class="table " id="mytable" border="3px solid black">
                    <thead border="3px solid black" style="height: 51px;">
                        <tr>
                            <th scope="col"
                                style="text-align: center; background:rgb(0 51 102 / 93%); color:rgb(255, 255, 255);">
                                S.no</th>
                            <th scope="col"
                                style="text-align: center;background:rgb(0 51 102 / 93%); color:rgb(255, 255, 255);"
                                class="tablehead">Date</th>
                            <th scope="col"
                                style="text-align: center;background:rgb(0 51 102 / 93%); color:rgb(255, 255, 255);"
                                class="tablehead">Name</th>
                            <th scope="col"
                                style="text-align: center;background:rgb(0 51 102 / 93%); color:rgb(255, 255, 255);"
                                class="tablehead">Category</th>
                            <th scope="col"
                                style="text-align: center;background:rgb(0 51 102 / 93%); color:rgb(255, 255, 255);"
                                class="tablehead">Quantity</th>
                            <th scope="col"
                                style="text-align: center;background:rgb(0 51 102 / 93%); color:rgb(255, 255, 255);"
                                class="tablehead">Remarks</th>
                            <th scope="col"
                                style="text-align: center;background:rgb(0 51 102 / 93%); color:rgb(255, 255, 255);"
                                class="tablehead">Mode of payment</th>
                            <th scope="col"
                                style="text-align: center;background:rgb(0 51 102 / 93%); color:rgb(255, 255, 255);"
                                class="tablehead">Amonut</th>
                            <th scope="col"
                                style="text-align: center;background:rgb(0 51 102 / 93%); color:rgb(255, 255, 255);"
                                class="tablehead">Profit/Loss</th>
                        </tr>
                    </thead>
                    <tbody id="output"></tbody>
                </table>
                <table class="table table-primary" id="mytable"border="3px solid black" style="background-color: black;">
                    <thead border="3px solid black;" style="height: 51px;font-size:larger">
                        <tr border="3px solid black;">
                            <th scope="col" style="text-align: center; background:rgb(0 51 102 / 93%); color:white">
                                Grand Total </th>
                            <th scope="col" style="text-align: center;background:rgb(0 51 102 / 93%); color:white"></th>
                            <th scope="col" style="text-align: center;background:rgb(0 51 102 / 93%); color:white"></th>
                            <th scope="col" style="text-align: center;background:rgb(0 51 102 / 93%); color:white"></th>
                            <th scope="col" style="text-align: center;background:rgb(0 51 102 / 93%); color:white"></th>
                            <th scope="col" style="text-align: center;background:rgb(0 51 102 / 93%); color:white"></th>
                            <th scope="col" style="text-align: center;background:rgb(0 51 102 / 93%); color:white"></th>
                            <th scope="col" style="text-align: center;background:rgb(0 51 102 / 93%); color:white">₹
                                <span id="grandtotal">0.0</span> </th>
                            <th scope="col" style="text-align: center;background:rgb(0 51 102 / 93%); color:white"></th>
                        </tr>
                    </thead>
                </table>
                <br>
<hr style="border: 1px solid black;">
                <div class="table2">
                    <div>
                        <h2>Live Rates</h2>
                    </div> 
                    <button type="button" name="myButton" class="button1" onclick="getcryptorate()">Get Live Rates</button>
                    <table class="table "id="mytable1" border="3px solid black">
                        <thead border="3px solid black" style="height: 51px;">
                            <tr>
                                <th scope="col"
                                    style="text-align: center; background:rgb(0 51 102 / 93%); color:rgb(255, 255, 255);">
                                    S.no</th>
                
                                <th scope="col"
                                    style="text-align: center;background:rgb(0 51 102 / 93%); color:rgb(255, 255, 255);"
                                    class="tablehead">Name</th>
                                <th scope="col"
                                    style="text-align: center;background:rgb(0 51 102 / 93%); color:rgb(255, 255, 255);"
                                    class="tablehead">Past Rates</th>
                                <th scope="col"
                                    style="text-align: center;background:rgb(0 51 102 / 93%); color:rgb(255, 255, 255);"
                                    class="tablehead">Live Rates</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>BitCoin</td>
                            <td id="pastBTC">3040695.71</td>
                            <td id="liveBTC">....</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Etherum</td>
                            <td id="pastETH">170338.39</td>
                            <td id="liveETH">....</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>BNB</td>
                            <td id="pastBNB">20408.07</td>
                            <td id="liveBNB">....</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Binance USD</td>
                            <td id="pastBUSD">83.13</td>
                            <td id="liveBUSD">....</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Ripple</td>
                            <td id="pastXRP">55.09</td>
                            <td id="liveXRP">....</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Cardano</td>
                            <td id="pastADA">30.52</td>
                            <td id="liveADA">....</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>SOLANA</td>
                            <td id="pastSOL">4706.16</td>
                            <td id="liveSOL">....</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>DogeCoin</td>
                            <td id="pastDOGE">6.20</td>
                            <td id="liveDOGE">....</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>Polygon</td>
                            <td id="pastMATIC">75.67</td>
                            <td id="liveMATIC">....</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>Uniswap</td>
                            <td id="pastUNI">431.44</td>
                            <td id="liveUNI">....</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
       <script src="/Javascript/crypto.js"></script>
</body>

</html>