<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
    <script src="https://kit.fontawesome.com/e018de74d3.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">

    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@100&family=Roboto:wght@300&family=Sacramento&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/38fc30680a.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>

    <link rel="icon" type="image/x-icon" href="/images/android-chrome-512x512.png" />

    <!-- ======datatable==== -->

    <link rel="stylesheet" href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

    <script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <script>

        $(document).ready(function () {
            $('#mytable').DataTable();
        });
    </script>
    <style>
        .form-entry {
            margin-left: 5%;
            margin-right: 5%;
            display: flex;
            gap: 120px;
        }

        .size {
            display: flex;
            margin-bottom: 5%;
            /* margin-left: 4%; */
        }

        .add-card {

            padding: 2%;
            border-radius: 20px;
            margin: 10%;
            margin-left: 30%;
            background-color: white;
            height: 320px;
            width: 550px;
            border: 2px;
        }

        .swap {
            margin-left: 4%;
            margin-right: 4%;
        }

        .btn-color1:hover {
            color: black;
            background-color: white;
            border: 1px solid black
        }

        .btn-color1 {
            background-color: #003366;
            color: white;
            border: 1px solid black;
        }
    </style>
      <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/all_connect.css">
</head>

<body>
    <div class="main-win">
        <div class="navbar">
            <h2 class="text-heading">Welcome to xLedger<br><span>
                    <h6 id="username">{{username}}</h6>
                </span>
            </h2>
            <h3 id="useremail">user: <span id="pagemail">{{email}}</span></h3>

        </div>
        <div class="contain">
            <div class="left-column sidebar">
                <ul>
                    <li><a href="/" class="first-block"><img src="/images/home-button.png" alt="" height="35px"
                                width="35px">Home</a></li>
                    <li><a href="/add_entry"><img src="/images/add.png" alt="" height="35px" width="35px">Add Entry</a>
                    </li>
                    <li><a href="/spending"><img src="/images/earnings.png" alt="" height="35px" width="35px">My
                            Expenses</a>
                    </li>
                    <li><a href="/group"><img src="/images/multiple-users-silhouette.png" alt="" height="35px"
                                width="35px">Groups</a></li>
                    <li><a href="/crypto"><img src="/images/bit-coin.png" alt="" height="35px" width="35px">Cryptos</a>
                    </li>
                    <li><a href="/stocks"><img src="/images/line-chart.png" alt="" height="35px" width="35px">Stocks</a>
                    </li>
                    <li><a href="/exchange" id="hovering"><img src="/images/exchange.png" alt="" height="35px"
                                width="35px">Currency</a>
                    </li>
                    <li><a href="/jwellery"><img src="/images/diamond.png" alt="" height="35px"
                                width="35px">Jewellery</a></li>
                    <li><a href="/reminder"><img src="/images/bell.png" alt="" height="35px" width="35px">Reminder</a>
                    </li>

                    <li><a href="/report"><img src="/images/report.png" alt="" height="35px" width="35px">Report</a>
                    </li>
                    <li><a href="/contact"><img src="/images/support.png" alt="" height="35px" width="35px"></i>Contact
                            Us</a>
                    </li>
                    <li><a href="/logout"><img src="/images/power.png" alt="" height="35px" width="35px"></i>Logout</a>
                    </li>
                    <!-- <li><a href="#"><i class="far fa-envelope"></i>Contact</a></li> -->
                </ul>
            </div>
            <div class="right-column container">

                <div class="convert-card add-card">
                    <!-- <form class="row g-3">
                    <div class="col-md-6">
                        <label for="remarks" class="form-label">Remarks</label>
                        <input type="text" class="form-control" id="remarks">
                      </div>
                      <div>
                        <a href="/add_entry" ><img src="add.png" alt="" height="35px" width="35px"></a>
                      </div>
                     
                      <div class="col-md-6">
                        <label for="amount" class="form-label">Amount</label>
                        <input type="text" class="form-control" id="amount">
                      </div>
                      </form> -->
                      <form onsubmit="return false;"  id="convert">
                    <div class="size">
                        <div class="from">
                            <label for="from" class="form-label">From</label><br>
                            <!-- <input type="number" class="form-control" id="from-convert" -->
                            <!-- style="border: 1px solid black;"> -->
                            <select id="from-convert" class="form-select">
                                <option selected>United States Dollar</option>
                                <option>United Arab Dirham</option>
                                <option>Argentine Peso</option>
                                <option>Australian Dollar</option>
                                <option>British Pound Sterling</option>
                                <option>Brazilian Real</option>
                                <option>Israeli New Shekel</option>
                                <option>Canadian Dollar</option>
                                <option>Swiss Franc</option>
                                <option>Chinese Yuan</option>
                                <option>Japanese Yen</option>
                                <option>Russian Ruble</option>
                                <option>Singapore Dollar</option>
                                <option>Pakistani Rupee</option>
                                <option>Bangladeshi taka</option>
                                <option>Nepalese rupee</option>
                                <option>Sri Lankan rupee</option>
                                <option>Bhutanese Ngultrum</option>
                                <option>Indian Rupee</option>
                            </select>
                        </div>
                        <div class="swap my-4">
                            <img src="/images/exchange.png" alt="" height="35px" width="35px">
                        </div>
                        <div class="to">
                            <label for="from" class="form-label">to</label><br>
                            <select id="-convert" class="form-select">
                                <option selected>Indian Rupee</option>
                            </select>
                        </div>
                    </div>
                    <div class="size">
                        <div class="from">
                            <!-- <label for="from"  class="form-label">From</label><br> -->
                            <input type="text" class="form-control" id="from-convert1" required>

                        </div>
                        <div class="swap">
                            <img src="/images/exchange.png" alt="" height="35px" width="35px">
                        </div>
                        <div class="to">
                            <!-- <label for="from"  class="form-label">to</label><br> -->
                            <input type="text" class="form-control" id="to-convert" disabled>
                        </div>
                    </div>

                    <button type="Submit" class="btn btn-color1 my-3 btn-lg" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                        convert
                    </button>
                </form>

                </div>




            </div>

        </div>
        <script src="/Javascript/exchange.js"></script>
</body>

</html>