<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Register</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="/images/android-chrome-512x512.png"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />
    <style>
      body { margin: 0; padding: 0; background-color: #e0e0ea5c; } .container {
      margin: auto; margin-top: 4em; max-width: 25%; min-width: 20%;
      background-color: #fffefe; padding: 0px 12px 0px 12px; border-radius:
      10px; box-shadow: 0 6px 12px 6px rgb(100 100 100 / 40%), 0 6px 20px 0
      rgb(96 91 91 / 18%); } .form-floating { margin-top: auto; margin-bottom:
      auto; } .btn { height: 3.4em; background-color: #047d95; } .row { display:
      flex; font-size: 1.5em; text-align: center; } .secondinput { width: 50%; }
      .form-control { border: solid rgb(0 0 0 / 44%) 1px; box-shadow: black 2px;
      } .Pass { padding-bottom: 2em; } #floatingPassword { width: 90%; } #change
      { padding-right: 12px; padding-left: 12px; } #first { display: flex; }
      #eye, #eye1 { /* border: solid rgba(76, 75, 75, 0.44) 1px; */ box-shadow:
      rgba(0, 0, 0, 0.47) 2px; cursor: pointer; user-select: none; } #loginicon,
      #signicon { color: #047d95; font-family: "Times New Roman", Times, serif;
      font-size: 1.1em; background-color: #e0e0ea5c; text-decoration: none; }
      #signicon { background-color: #fffefe; border-top: solid #047d95; }
      #signicon:hover { background-color: #ffffff; cursor: pointer; }

    </style>
  </head>

  <body>

    <form id="form" onsubmit="return false;">
      <div class="container">
        <!-- change in buttons -->

        <!-- <div class="container"> -->
        <div class="row">
          <a class="col-sm" id="loginicon" href="/login">Login</a>
          <a class="col-sm" id="signicon" href="/register">Register</a>
          <!-- </div> -->
        </div>

        <!-- Login form -->
        <div id="change">
          <div class="form-floating mt-4 mb-3 col">
            <input
              type="name"
              class="form-control"
              id="name"
              placeholder="name"
              required
            />
            <label for="floatingInput">Full Name</label>
          </div>

          <div class="form-floating mt-4 mb-3 col">
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="name@example.com"
              required
            />
            <label for="floatingInput">Email address</label>
          </div>

          <div class="form-floating mt-4 mb-3 col" id="first">
            <input
              type="password"
              id="pin"
              class="form-control"
              placeholder="Password"
              required
            />
            <label for="floatingPassword">Create Password</label>
            <div id="eye" class="input-group-text closed">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="1.5em"
                viewBox="0 0 640 512"
              >
                <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                <path
                  d="M38.8 5.1C28.4-3.1 13.3-1.2 5.1 9.2S-1.2 34.7 9.2 42.9l592 464c10.4 8.2 25.5 6.3 33.7-4.1s6.3-25.5-4.1-33.7L525.6 386.7c39.6-40.6 66.4-86.1 79.9-118.4c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C465.5 68.8 400.8 32 320 32c-68.2 0-125 26.3-169.3 60.8L38.8 5.1zM223.1 149.5C248.6 126.2 282.7 112 320 112c79.5 0 144 64.5 144 144c0 24.9-6.3 48.3-17.4 68.7L408 294.5c8.4-19.3 10.6-41.4 4.8-63.3c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3c0 10.2-2.4 19.8-6.6 28.3l-90.3-70.8zM373 389.9c-16.4 6.5-34.3 10.1-53 10.1c-79.5 0-144-64.5-144-144c0-6.9 .5-13.6 1.4-20.2L83.1 161.5C60.3 191.2 44 220.8 34.5 243.7c-3.3 7.9-3.3 16.7 0 24.6c14.9 35.7 46.2 87.7 93 131.1C174.5 443.2 239.2 480 320 480c47.8 0 89.9-12.9 126.2-32.5L373 389.9z"
                />
              </svg>
            </div>
          </div>
          <div class="form-floating mt-4 mb-3 col" id="first">
            <input
              type="password"
              id="pin1"
              class="form-control"
              placeholder="Confirm Password"
              autocomplete="off"
              required
            />
            <label for="floatingPassword">Confirm Password</label>
            <div id="eye1" class="input-group-text closed">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="1.5em"
                viewBox="0 0 640 512"
              >
                <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                <path
                  d="M38.8 5.1C28.4-3.1 13.3-1.2 5.1 9.2S-1.2 34.7 9.2 42.9l592 464c10.4 8.2 25.5 6.3 33.7-4.1s6.3-25.5-4.1-33.7L525.6 386.7c39.6-40.6 66.4-86.1 79.9-118.4c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C465.5 68.8 400.8 32 320 32c-68.2 0-125 26.3-169.3 60.8L38.8 5.1zM223.1 149.5C248.6 126.2 282.7 112 320 112c79.5 0 144 64.5 144 144c0 24.9-6.3 48.3-17.4 68.7L408 294.5c8.4-19.3 10.6-41.4 4.8-63.3c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3c0 10.2-2.4 19.8-6.6 28.3l-90.3-70.8zM373 389.9c-16.4 6.5-34.3 10.1-53 10.1c-79.5 0-144-64.5-144-144c0-6.9 .5-13.6 1.4-20.2L83.1 161.5C60.3 191.2 44 220.8 34.5 243.7c-3.3 7.9-3.3 16.7 0 24.6c14.9 35.7 46.2 87.7 93 131.1C174.5 443.2 239.2 480 320 480c47.8 0 89.9-12.9 126.2-32.5L373 389.9z"
                />
              </svg>
            </div>
          </div>

          <div
            class="alert alert-success alert-dismissible fade show"
            role="alert"
            id="success"
            style="display:none;"
          >
            <strong id="successmsg"></strong>
            <a href="/login"><button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button></a>
          </div>
          <div
            class="alert alert-danger alert-dismissible fade show"
            role="alert"
            id="danger"
            style="display:none;"
          >
            <strong id="errormsg"></strong>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
          </div>

          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary mb-4">Register</button>
          </div>
        </div>
      </div>
    </form>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>

    <script>
      function showpass() { let eclassname = document.getElementById("eye"); let
      eyeclass = eclassname.classList[1]; let eclassname1 =
      document.getElementById("eye1"); let eyeclass1 = eclassname1.classList[1];
      if (eyeclass == "open" && eyeclass1 == "open") { const eyeimg =
      document.getElementById("eye"); const eyeimg1 =
      document.getElementById("eye1"); const passd =
      document.getElementById("pin"); const passd1 =
      document.getElementById("pin1"); // const data = passd.value;
      passd.setAttribute("type", "password"); passd1.setAttribute("type",
      "password"); eyeimg1.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg"
      height="1.5em" viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.2 by
      @fontawesome - https://fontawesome.com License -
      https://fontawesome.com/license (Commercial License) Copyright 2023
      Fonticons, Inc. --><path d="M38.8 5.1C28.4-3.1 13.3-1.2 5.1 9.2S-1.2 34.7
      9.2 42.9l592 464c10.4 8.2 25.5 6.3 33.7-4.1s6.3-25.5-4.1-33.7L525.6
      386.7c39.6-40.6 66.4-86.1 79.9-118.4c3.3-7.9 3.3-16.7
      0-24.6c-14.9-35.7-46.2-87.7-93-131.1C465.5 68.8 400.8 32 320 32c-68.2
      0-125 26.3-169.3 60.8L38.8 5.1zM223.1 149.5C248.6 126.2 282.7 112 320
      112c79.5 0 144 64.5 144 144c0 24.9-6.3 48.3-17.4 68.7L408 294.5c8.4-19.3
      10.6-41.4 4.8-63.3c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4
      11.7c2.1 6.4 3.3 13.2 3.3 20.3c0 10.2-2.4 19.8-6.6 28.3l-90.3-70.8zM373
      389.9c-16.4 6.5-34.3 10.1-53 10.1c-79.5 0-144-64.5-144-144c0-6.9 .5-13.6
      1.4-20.2L83.1 161.5C60.3 191.2 44 220.8 34.5 243.7c-3.3 7.9-3.3 16.7 0
      24.6c14.9 35.7 46.2 87.7 93 131.1C174.5 443.2 239.2 480 320 480c47.8 0
      89.9-12.9 126.2-32.5L373 389.9z"/></svg>`; eyeimg.innerHTML = `<svg
      xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 640
      512"><!--! Font Awesome Free 6.4.2 by @fontawesome -
      https://fontawesome.com License - https://fontawesome.com/license
      (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M38.8
      5.1C28.4-3.1 13.3-1.2 5.1 9.2S-1.2 34.7 9.2 42.9l592 464c10.4 8.2 25.5 6.3
      33.7-4.1s6.3-25.5-4.1-33.7L525.6 386.7c39.6-40.6 66.4-86.1
      79.9-118.4c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C465.5
      68.8 400.8 32 320 32c-68.2 0-125 26.3-169.3 60.8L38.8 5.1zM223.1
      149.5C248.6 126.2 282.7 112 320 112c79.5 0 144 64.5 144 144c0 24.9-6.3
      48.3-17.4 68.7L408 294.5c8.4-19.3 10.6-41.4
      4.8-63.3c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4
      3.3 13.2 3.3 20.3c0 10.2-2.4 19.8-6.6 28.3l-90.3-70.8zM373 389.9c-16.4
      6.5-34.3 10.1-53 10.1c-79.5 0-144-64.5-144-144c0-6.9 .5-13.6 1.4-20.2L83.1
      161.5C60.3 191.2 44 220.8 34.5 243.7c-3.3 7.9-3.3 16.7 0 24.6c14.9 35.7
      46.2 87.7 93 131.1C174.5 443.2 239.2 480 320 480c47.8 0 89.9-12.9
      126.2-32.5L373 389.9z"/></svg>`; eclassname.classList.add("closed");
      eclassname.classList.remove("open"); eclassname1.classList.add("closed");
      eclassname1.classList.remove("open"); } else { const passd =
      document.getElementById("pin"); const passd1 =
      document.getElementById("pin1"); passd.setAttribute("type", "text");
      passd1.setAttribute("type", "text"); const eyeimg1 =
      document.getElementById("eye"); eyeimg1.innerHTML = `<svg
      xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 640
      512"><path d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5
      243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2
      207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4
      93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8
      368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288
      0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9
      1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6
      67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2
      6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"/></svg>`; const eyeimg2 =
      document.getElementById("eye1"); eyeimg2.innerHTML = `<svg
      xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 640
      512"><path d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5
      243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2
      207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4
      93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8
      368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288
      0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9
      1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6
      67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2
      6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"/></svg>`;
      eclassname.classList.add("open"); eclassname.classList.remove("closed");
      eclassname1.classList.add("open"); eclassname1.classList.remove("closed");
      } } const eyeimg = document.getElementById("eye");
      eyeimg.addEventListener("click", showpass); const eyeimg1 =
      document.getElementById("eye1"); eyeimg1.addEventListener("click",
      showpass);
    </script>
    <script src="Javascript/register.js"></script>
  </body>
</html>