<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exchange</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/e018de74d3.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">

    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@100&family=Roboto:wght@300&family=Sacramento&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/38fc30680a.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>


    <!-- ======datatable==== -->

    <link rel="stylesheet" href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

    <script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>


    <style>
        .form-entry {
            margin-left: 5%;
            margin-right: 5%;
            display: flex;
            gap: 120px;
        }

        .size {
            display: flex;
            margin-bottom: 5%;
            /* margin-left: 4%; */
        }

        .add-card {

            padding: 2%;
            border-radius: 20px;
            margin: 10%;
            margin-left: 30%;
            background-color: white;
            height: 320px;
            width: 550px;
            border: 2px;
        }

        .swap {
            margin-left: 4%;
            margin-right: 4%;
        }

        .btn-color1:hover {
            color: black;
            background-color: white;
            border: 1px solid black
        }

        .btn-color1 {
            background-color: #003366;
            color: white;
            border: 1px solid black;
        }
    </style>
    <link rel="stylesheet" href="/CSS/all_connect.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body onload="printgraph()">
    <div class="main-win">
        <div class="navbar">
            <h2 class="text-heading">Welcome to xLedger<br><span>
                    <h6 id="username">{{username}}</h6>
                </span>
            </h2>
            <h3 id="useremail">user: <span id="pagemail">{{email}}</span></h3>

        </div>
        <div class="contain">
            <div class="left-column sidebar">
                <ul>
                    <li><a href="/" class="first-block"><img src="/images/home-button.png" alt="" height="35px"
                                width="35px">Home</a></li>
                    <li><a href="/add_entry"><img src="/images/add.png" alt="" height="35px" width="35px">Add Entry</a>
                    </li>
                    <li><a href="/spending"><img src="/images/earnings.png" alt="" height="35px" width="35px">My
                            Expenses</a>
                    </li>
                    <li><a href="/group"><img src="/images/multiple-users-silhouette.png" alt="" height="35px"
                                width="35px">Groups</a></li>
                    <li><a href="/crypto"><img src="/images/bit-coin.png" alt="" height="35px" width="35px">Cryptos</a>
                    </li>
                    <li><a href="/stocks"><img src="/images/line-chart.png" alt="" height="35px" width="35px">Stocks</a>
                    </li>
                    <li><a href="/exchange" ><img src="/images/exchange.png" alt="" height="35px"
                                width="35px">Currency</a>
                    </li>
                    <li><a href="/jwellery"><img src="/images/diamond.png" alt="" height="35px"
                                width="35px">Jewellery</a></li>

                    <li><a href="/report" id="hovering"><img src="/images/report.png" alt="" height="35px" width="35px">Report</a>
                    </li>
                    <li><a href="/contact"><img src="/images/support.png" alt="" height="35px" width="35px"></i>Contact
                            Us</a>
                    </li>
                    <li><a href="/logout"><img src="/images/power.png" alt="" height="35px" width="35px"></i>Logout</a>
                    </li>
                    <!-- <li><a href="#"><i class="far fa-envelope"></i>Contact</a></li> -->
                </ul>
            </div>
            <div class="right-column container">

                {{!-- //// weekly //// --}}
                {{!-- ====== Weekly Date wise ======= --}}
                <center>
                    <h2>Weekly Record Date Wise</h2>
                <div>
                    <canvas id="myChart1" height="500vh" width="800vh"> </canvas>
                </div>
                    <h2>Weekly Record Category Wise</h2>
                {{!-- ====== Weekly category Wise ======= --}}
                <div>
                    <canvas id="myChart2" height="500vh" width="800vh"> </canvas>
                </div>


                {{!-- ------- Monthly ------- --}}

                {{!-- ------monthly day wise  --}}

                    <h2>Monthly Record Date Wise</h2>
                <div>
                    <canvas id="myChart3" height="500vh" width="800vh"> </canvas>
                </div>
                {{!-- ------monthly category wise  --}}

                    <h2>Monthly Record Category Wise</h2>
                <div>
                    <canvas id="myChart4" height="500vh" width="800vh"> </canvas>
                </div>
                {{!-- ------Yearly date wise  --}}

                    <h2>Yearly Record Date Wise</h2>
                <div>
                    <canvas id="myChart5" height="500vh" width="900vh"> </canvas>
                </div>
                {{!-- ------monthly category wise  --}}

                    <h2>Yearly Record Category Wise</h2>
                <div>
                    <canvas id="myChart6" height="500vh" width="900vh"> </canvas>
                </div>
                {{!-- ======daily===== --}}

                <form id="datesearch" onsubmit="return false;">               
                 <input type="date" name="date" id="date1" required>
                <button type="submit">search</button>
                </form>

                <div>
                    <canvas id="myChart" height="500vh" width="800vh"> </canvas>
                </div>

                </center>
            </div>

        </div>
    </div>
    <script src="/Javascript/report.js"></script>
</body>

</html>