.thead th {
  text-align: center;
}
.category {
  border-radius: 30px;
  color: black;
  background-color: white;
  margin-top: 1%;
  margin-bottom: 1%;
}
.btn-color {
  color: black;
  border: 2px solid black;
}
.btn-color:hover {
  color: white;
  background-color: #003366;
}
.btn-padding {
  padding: 2%;
}
.btn-color1:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}
.btn-color1 {
  background-color: #003366;
  color: white;
  border: 1px solid black;
}
.table2 {
  margin-top: 5%;
}
.button1 {
  color: #ffffff;
  margin-top: 2%;
  background-color: #274e96;
  font-size: 16px;
  border: 1px solid #000000;
  border-radius: 11px;
  padding: 10px 20px;
  letter-spacing: 1px;
  cursor: pointer;
}
.button1:hover {
  color: #000000;
  background-color: #ffffff;
}
